server:
  port: 8082

spring:
  application:
    name: user-service
  datasource:
#    url: jdbc:mysql://localhost:3306/online_bookstore
    url: jdbc:mysql://mydatabase:3306/online_bookstore
    username: root
    password: Ab@230596
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  config:
    import: optional:configserver:http://
    import-check:
      enabled: false
  flyway:
    baseline-on-migrate: true
    out-of-order: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

# configure tracing
management:
  tracing:
    sampling:
      probability: 1.0
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

jwt:
  access:
    expiration:
      milliseconds: 900000
  refresh:
    expiration:
      milliseconds: 3000000
  secret: securesecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecuresecure
